In [9]:
library(CellChat)
count_net = read.csv("../../result/cci/MB/cci/MB_bin200_interaction_count_network.csv", row.names="X")
head(count_net)

  source target counts
0 0       0      67
1 0       1      91
2 0      10     119
3 0      11      65
4 0      12     107
5 0      13      42

In [10]:
quantile(count_net$counts, 0.9)

  90%
123.1

In [11]:
# subset count_net domain 
# [5, 12, 10, 16, 7, 8, 14],  #Cortex
# [4, 11, 17],  # HPC
# [0, 15],  # Thalamus
library(dplyr)

count_net1 <- count_net %>% filter(source %in% c(5,12,10,16,7,8,14,4,11,17,0,15)) %>% filter(target %in% c(5,12,10,16,7,8,14,4,11,17,0,15))
count_net1[which(count_net1$counts < quantile(count_net$counts, 0.9)),"counts"] <- 1 
head(count_net1)

  source target counts
1 0       0     1
2 0      10     1
3 0      11     1
4 0      12     1
5 0      14     1
6 0      15     1

In [12]:
dim(count_net1)

[1] 144   3

In [13]:
unique(count_net1$source)

 [1]  0 10 11 12 14 15 16 17  4  5  7  8

In [14]:
unique(count_net1$target)

 [1]  0 10 11 12 14 15 16 17  4  5  7  8

In [1]:
cal_in_out_interactions = function(count_matrix, domain_list) {
    in_out_inters = c()
    for (domain in domain_list) {
        domain = as.integer(domain)
        inters = sum(count_matrix[(count_matrix$target==domain) | (count_matrix$source==domain),])
        in_out_inters = c(in_out_inters, inters)
    }
    
    return (in_out_inters)
}

In [19]:
library(tidyr)
#library(svglite)
platte_MB = c('#1f77b4','#aa40fc', '#8c564b','#b5bd61', '#17becf', '#ffbb78', '#98df8a','#ff9896', '#c49c94','#f7b6d2', '#dbdb8d', '#9edae5')
platte_IDC = c()
svglite::svglite("inter_MB.svg",width=4, height=4)
count_inter <- count_net1
count_inter$counts <- count_inter$counts
count_inter<-spread(count_inter, target, counts)
rownames(count_inter) <- count_inter$source
count_inter <- count_inter[, -1]
count_inter <- as.matrix(count_inter)
# count_inter[is.na(count_inter)] <- 0
self_interaction <- diag(count_inter)
in_out_inters <- cal_in_out_interactions(count_net1, names(self_interaction))
diag(count_inter) <- 0
ccp <- netVisual_circle(count_inter,weight.scale = T, 
                        vertex.weight = in_out_inters,
                        color.use=platte_MB,
                       ) #
# [2, 8, 9,11,13,19],  #Cortex
# [5,10,15],  # HPC  
# [1],  #thalamus
dev.off()

png
  2

In [9]:
diag(count_inter)

  0   4   5   7   8  10  11  12  14  15  16  17
  1   1 211   1   1 135   1 162   1   1   1   1

In [22]:
count_inter

   0 4 5   7 8 10  11 12  14 15  16 17
0  0 1 128 1 1   1 1    1 1    1 1  1
4  1 0   1 1 1   1 1    1 1    1 1  1
5  1 1   0 1 1 169 1  170 1  126 1  1
7  1 1 149 0 1 124 1    1 1    1 1  1
8  1 1 152 1 0 131 1  128 1    1 1  1
10 1 1 154 1 1   0 1  125 1    1 1  1
11 1 1   1 1 1   1 0    1 1    1 1  1
12 1 1 201 1 1 163 1    0 1    1 1  1
14 1 1 131 1 1   1 1    1 0    1 1  1
15 1 1   1 1 1   1 1    1 1    0 1  1
16 1 1 134 1 1   1 1    1 1    1 0  1
17 1 1   1 1 1   1 1    1 1    1 1  0